<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Marmut</title>

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style/404.css') }}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<div class="bowl">
    <div class="spdline"></div>
    <div class="spider">
      <div class="leg left-1"></div>
      <div class="leg left-2"></div>
      <div class="leg left-3"></div>
      <div class="leg right-1"></div>
      <div class="leg right-2"></div>
      <div class="leg right-3"></div>
    </div>
  </div>
  <div class="ghost">
    <div class="eye eye-left"></div>
    <div class="eye eye-right"></div>
    <div class="chocolate"></div>
    <div class="mouth"></div>
  </div>
  
  <div class="signwood"></div>
  <div class="judul text-light"><h1>Session Invalid</h1></div>
  <div class="signtext">
    <p>eror<br/>401</p>
  </div>
  <div class="pin"></div>
  
  <div class="line"></div>
  