<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Marmut</title>

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style/404.css') }}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <div class="signwood"></div>
  <div class="judul text-light"><h1>Congratulation <br/>Your Account Activated</h1></div>
  <div class="signtext">
    <p>login now </br> Click <a href="{{ url_for('login') }}">here</a></p>
  </div>
  