<!doctype html class="dark">
<html>

<head>
  {% include "header2.html" %}

</head>

<body class="min-h-screen dark:text-gray-200 dark:bg-gray-900">
  <div class="w-full">
    <div class="h-20 lg:h-20 w-full flex flex-wrap">
      {% include "navbardash.html" %}
    </div>
    <div class="w-11/12 mx-4 my-5 lg:mx-20 lg:my-14">
      <div class="flex flex-col lg:flex-row justify-center">
        <div class="bg-base-200 shadow-2xl rounded-box p-2 lg:p-5 items-center">
          <div class="m-5 flex flex-col">
            <form method="POST" action="/additem">
              <div class="bg-warning shadow-lg rounded mb-2 pl-2 pr-2 font-3xl"><span
                  class="font-3xl text-slate-300 italic leading-loose">{{msg}}
                </span></div>
              <div class="text-2xl font-bold my-2">Add New Network Source</div>
              <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-5 w-auto">
                <div class="mb-5 flex flex-col w-full lg:w-1/2">
                  <label for="source"
                    class="block mb-2 mt-5 text-sm font-medium text-gray-600 dark:text-gray-200">SSID</label>
                  <input type="text" name="source"
                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none dark:text-black"
                    required>
                </div>
                <div class="mb-5 flex flex-col w-full lg:w-1/2">
                  <label for="password"
                    class="block mb-2 mt-5 text-sm font-medium text-gray-600 dark:text-gray-200">Password</label>
                  <input type="text" name="password" minlength="6" placeholder="StR0N6Pa55!"
                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none dark:text-black"
                    required>
                </div>
              </div>
              <div class="mb-5 flex flex-col">
                <label for="deskripsi"
                  class="block mb-2 mt-5 text-sm font-medium text-gray-600 dark:text-gray-200">Description</label>
                <input type="text" name="deskripsi"
                  class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none dark:text-black"
                  required>
                <label for="access"
                  class="block mb-2 mt-5 text-sm font-medium text-gray-600 dark:text-gray-200">Access</label>
                <select class="select select-bordered w-auto  p-3" name="access" id="access" required>
                  <option>public</option>
                  <option>Private</option>
                </select>
              </div>
              <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-5">
                <div class=" flex flex-col">
                  <label for="Private_key"
                    class="block mb-2 mt-5 text-sm font-medium text-gray-600 dark:text-gray-200">Private
                    Key</label>
                  <input type="text" name="Private_key" minlength="6" placeholder="888888"
                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none dark:text-black">
                </div>
                <div class="flex flex-col mt-6"> {{ recaptcha }}</div>
              </div>
              <button
                class="w-full p-3 mt-8 bg-indigo-600 text-white rounded shadow dark:text-gray-200 dark:bg-gray-900"
                type="submit">Add Source</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>