<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/typed/typedjs.js') }}"></script>
</head>

<body>
  <section>
    <div class="bg-white min-h-screen flex items-center justify-center">
      <div class="relative w-full">
        <div
          class="absolute top-50-10 -right-0 w-80 h-72 bg-indigo-300 rounded-xl mix-blend-multiply filter blur-xl opacity-70 animate-blob">
        </div>
        <div
          class="absolute top-50 -right-0 w-15 h-72 bg-yellow-300 mix-blend-multiply filter blur-xl opacity-70 animate-blob">
        </div>
        <div
          class="absolute top-20 -left-4 w-20 h-20 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000">
        </div>
        <div
          class="absolute -bottom-8 left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000">
        </div>
        <div class="m-8 relative space-y-4">
          <!--Main-->
          <div class="container mx-auto p-8 flex">
            <div class="max-w-md w-full mx-auto">
              <h1 class="text-4xl text-center mb-12 font-thin">Company</h1>
              <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
                <div class="p-8">
                  <form method="POST" class="" action="#">
                    <div class="mb-5">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>

                      <input type="text" name="email"
                        class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                    </div>

                    <div class="mb-5">
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

                      <input type="text" name="password"
                        class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                    </div>

                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow">Login</button>
                  </form>
                </div>

                <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                  <a href="#" class="font-medium text-indigo-500">Create account</a>

                  <a href="#" class="text-gray-600">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>

</body>

</html>