<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!doctype html class="dark">
    <html>

    <head>

    </head>

    <body>
        <img src="{{qr}}" width="100%">
        <br />
        <br />
        <br />
        <span style="font-size: 30px;">Steps Redeem Password WI-FI: <br /></span>
        <span style="font-size: 20px;">1. Use Smartphone, support QR code Scanner Application <br /></span>
        <span style="font-size: 20px;">2. Install Google lens/QR code Scanner App on Playstore or AppStore <br /></span>
        <span style="font-size: 20px;">3. Scan QR Code, enjoy! <br /></span>
    </body>

    </html>