<!doctype html class="dark">
<html>

<head>
  {% include "header2.html" %}

</head>

<body class="min-h-screen dark:text-gray-200 dark:bg-gray-900">
  <div class="h-20 lg:h-20 w-full flex flex-wrap">
    {% include "navbardash.html" %}
  </div>
  {%block content%}
  <div class="min-h-screen bg-indigo-300 dark:bg-gray-900 flex flex-wrap items-center justify-center">
    <div class="container max-w-lg bg-white rounded dark:bg-gray-800 shadow-lg transform duration-200 easy-in-out m-12">
      <div class="h-2/4 sm:h-64 overflow-hidden">
        <img class="w-full rounded-t" src="https://source.unsplash.com/random/?city"
          alt="Photo by aldi sigun on Unsplash" />
      </div>
      <div class="flex justify-start px-5 -mt-12 mb-5">
        <span clspanss="block relative h-32 w-32">
          <img alt="" src="{{image}}" class="mx-auto object-cover rounded-full h-24 w-24 bg-white p-1" />
        </span>
      </div>
      <div class="">
        <div class="px-7 mb-8">
          <h2 class="text-3xl font-bold text-green-800 dark:text-gray-300 my-5">{{Getuser}}</h2>
          <div class="col-lg-4 order-lg-1 text-center">
            <form role="form" action="/profile" method="post" enctype=multipart/form-data>
              <label class="custom-file">
                <input type="file" id="photo" name="photo" class="custom-file-input" required>
              </label>
              <button type="submit" class="btn btn-outline-success btn-sm">Change Profile</button>
            </form>
            {%endblock%}
          </div>
        </div>
      </div>
      <div class="bg-gray-200">
        <div class="flex flex-row p-5 w-auto">
          <a href="{{ url_for('forgetpass') }}"><button class="btn btn-wide w-11/12">
              <p class="text-xs">Change Password</p>
            </button></a>
          <a href="{{ url_for('email') }}"><button class="btn btn-wide w-11/12">
              <p class="text-xs">Change Email</p>
            </button></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>