<!DOCTYPE html>
<html>
<head>
	{% include "header3.html" %}
</head>
<body>
<section class="vh-100" style="background-color: transparent;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-" style="border-radius: 25px; background: transparent; border:none">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
         {%block content%}
         <div class="text-warning m-3">
          {{msg}}
          </div>
                <form action="/register" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input class="form-control" type="text" id="username" placeholder="jhonlegend" name="username" required>
                      <label class="form-label">Username</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input class="form-control" type="text" id="email" name="email" placeholder="jhonlegend@gmail.com" required>
                      <label class="form-label">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input  class="form-control" type="password" id="password" name="password" placeholder="K1ngC00l!" required>
                      <label class="form-label">Password</label>
                    </div>
                  </div>
                  <div class="m-3">
                  {{ recaptcha }}
                </div>

                  <!--<div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>-->
                <div class="d-flex justify-content-center mx-4 mb- mb-lg-4">
                    <button type="submit" name="submit" class="btn btn-primary btn-lg" style="width: 100%; margin-top:10%;">Register</button>
                </div>
                <div class="d-flex justify-content-center mx-4 mb- mb-lg-4 mt-4">
                   <small> You have Account? &nbsp; <a href="{{ url_for('login') }}" >Signin</a></small>
                </div>        
                {%endblock%}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}	

{% include "scripts.html" %}
</body>
</html>