<!doctype html>
<html>

<head>
  {% include "header.html" %}
</head>

<body>
  <div class="flex items-center justify-center min-h-screen dark:text-gray-200 dark:bg-gray-900">
    <div class="relative w-full max-h-full dark:text-gray-200 dark:bg-gray-900">
      <div
        class="absolute top-50-10 -right-0 w-80 h-72 bg-indigo-300 rounded-xl mix-blend-multiply filter blur-xl opacity-70 animate-blob dark:bg-gray-900">
      </div>
      <div
        class="absolute top-50 -right-0 w-15 h-72 bg-yellow-300 mix-blend-multiply filter blur-xl opacity-70 animate-blob dark:bg-gray-900">
      </div>
      <div
        class="absolute top-20 -left-4 w-20 h-20 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000 dark:bg-gray-900">
      </div>
      <div
        class="absolute bottom-20 left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000 dark:text-gray-200 dark:bg-gray-900 ">
      </div>
      <!--Main-->
      <div class="relative container mx-auto p-8 flex mb-5 dark:text-gray-200 dark:bg-gray-900">
        <div class="max-w-md w-full mx-auto dark:text-gray-200 dark:bg-gray-900">
          <h1 class="text-4xl text-center mb-12 font-thin">Enter Your Pin</h1>
          <div class="rounded-lg overflow-hidden shadow-2xl dark:text-gray-200 dark:bg-gray-600">
            <div class="p-8 dark:text-gray-200 dark:bg-gray-900">
              {%block content%}
              <form method="POST" action="/show">
                <div class="bg-warning shadow-lg rounded mb-2 pl-2 pr-2 font-3xl"><span
                    class="font-3xl text-slate-300 italic leading-loose">{{msg}}
                  </span></div>
                <div class=" mb-5 dark:text-gray-200 dark:bg-gray-900">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-600 dark:text-gray-200">
                    Pin</label>
                  <input type="password" name="mypin"
                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none dark:text-black "
                    required>
                </div>
                <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow dark:bg-gray-600"
                  type="submit">Submit</button>
                <div class="m-2 text-bold">
                  <small> Create / Change Your Pin? &nbsp; <a href="{{ url_for('showmypin') }}"> <button
                        class='text-bold '>Mypin
                      </button></a></small>
                </div>
              </form>
              {%endblock%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>