<!DOCTYPE html>
<html>
<head>
	{% include "header.html" %}
</head>
<body>
    <section>
    <div class="headline d-flex justify-content-center mt-4">
        <h2 class="text-light"><strong>SMARTPASS GENERATOR</strong></h2><br/>
    </div>
    <div class="d-flex justify-content-center">
        <h5 class="text-light">for human and safe your day</h5>
    </div>
    <section>
        {%block content%}
    <!--cari & copy-->
        <div class="container" id="content">
            <div class="row justify-content-center">
                <div class="kunci col-md-4 col-sm-12">
                     <img src="static/images/kunci.svg" width="80%">
                    </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card" id="cardcari">
                    <div class="row justify-content-center" id="cari">
                        <div class="col-10 col-md-11">{{ data }}</div>
                        <div class="col-1 col-md-1"><a  href="javascript:window.location.replace(window.location.pathname + window.location.search + window.location.hash);" class="continue"><img src="static/images/reload.svg" width="20px"></a></div>
                    </div>
                    </div> 
                    <div class="card" id="cardcari2">
                    <div class="row" id="cari2">
                        <div class="col-2" >secure </div>
                        <div class="col-6">remember </div>
                        <div class="col-2">secure </div>
                        <div class="col-2">uniq </div>                        
                    </div>
                    <div class="card" id="cardcari2">                        
                        <div class="row" id="cari3">
                            <div class="card" id="card3"><div class="col">{{ data4 }}</div></div>
                            <div class="card" id="card4"><div class="col">{{ data2 }}</div></div>
                            <div class="card" id="card3"><div class="col">{{data5}}</div></div>
                            <div class="card" id="card6"><div class="col">{{ data3 }}</div></div>                      
                        </div>
                    </div>
                    </div>
                    <div class="card" id="cardcari5">
                        <div class="row" id="cari5">
                            <p id="copyme"> {{data}}</p>   
                        </div>
                        </div>
                        <div class="p-2" style="margin-top: 30px;">
                        <p class="card keycode justify-content-center m-3 text-center" id='keycode' style="background-color: transparent; border: none;">keycode:</p>
                        <p class="card keycode justify-content-center m-3 text-center" id='keycode' style="background-color: transparent; border: none;">{{uniq_hash}}</p> </div>
                </div>
                <div class="col-1"> 
                    <script>
                        function clip_text(a_string){
                            var input = document.createElement('input')
                            input.id="__copyText__";
                            input.value = a_string; // OOPS! document.getElementById(divId).innerText;
                            document.body.appendChild(input);
                            input.select();
                            document.execCommand("copy");
                            var txt = input.value
                            input.remove()
                            console.log("OK COPIED: '"+txt+"'")
                        }
                        function clip_div(divId){
                           return clip_text(document.getElementById(divId).innerText)
                        }
                        </script>
                    <a href="#" onClick = "clip_div('copyme')"><button type="button"  class="copy btn" id="tombol">copy</button></a>
                    <!--<button type="button" class="btn" id="tombol">SAVE WordBank</button>-->
                </div>
                </div>
            </div>
        </div>
      <!--Akhir cari & copy-->
      
      {%endblock%}
    </section>


{% include "footer.html" %}	

{% include "scripts.html" %}
</body>
</html>